<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" href="/static/css/admin/admin.css">
<link rel="stylesheet" href="/static/css/admin/seatlist.css">
<title>G-OSK 프로젝트</title>

<body>
    <main class="container">
        <!-- header -->
        <header class="admin-header">
            <p class="go-index-btn">G-OSK</p>
            <div class="header-bot">
                <ul>
                    <li>그레이즈 스터디카페</li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <span>운영시간: 10:00 - 20:00</span>
                    </li>
                </ul>
            </div>
        </header>
        <!-- section -->
        <section class="admin-container">
            <div class="seat-category">
                <ul>
                    <li class="reserved">지정석</li>
                    <li class="nomal">일반석</li>
                    <li class="locker">사물함</li>
                </ul>
            </div>
            <div class="table-container">
                <!-- section -->
                <section class="seat-content">
                    <article class="seat-basic">
                        <button id="Os1" class="btn basic-seat-btn seat-btn Os1 org-btn">Os1</button>
                        <button id="Os2" class="btn basic-seat-btn seat-btn Os2 org-btn">Os2</button>
                        <button id="Os3" class="btn basic-seat-btn seat-btn Os3 org-btn">Os3</button>
                        <button id="Os4" class="btn basic-seat-btn seat-btn Os4 org-btn">Os4</button>
                        <button id="Os5" class="btn basic-seat-btn seat-btn Os5 org-btn">Os5</button>
                        <button id="Os6" class="btn basic-seat-btn seat-btn Os6 org-btn">Os6</button>
                        <button id="Os7" class="btn basic-seat-btn seat-btn Os7 org-btn">Os7</button>
                        <button id="Os8" class="btn basic-seat-btn seat-btn Os8 org-btn">Os8</button>
                        <button id="Os9" class="btn basic-seat-btn seat-btn Os9 org-btn">Os9</button>
                        <button id="Os10" class="btn basic-seat-btn seat-btn Os10 org-btn">Os10</button>
                        <button id="Os11" class="btn basic-seat-btn seat-btn Os11 org-btn">Os11</button>
                        <button id="Os12" class="btn basic-seat-btn seat-btn Os12 org-btn">Os12</button>
                        <button id="Os13" class="btn basic-seat-btn seat-btn Os13 org-btn">Os13</button>
                        <button id="Os14" class="btn basic-seat-btn seat-btn Os14 org-btn">Os14</button>
                        <button id="Os15" class="btn basic-seat-btn seat-btn Os15 org-btn">Os15</button>
                        <button id="Os16" class="btn basic-seat-btn seat-btn Os16 org-btn">Os16</button>
                        <button id="Os17" class="btn basic-seat-btn seat-btn Os17 org-btn">Os17</button>
                        <button id="Os18" class="btn basic-seat-btn seat-btn Os18 org-btn">Os18</button>
                        <button id="Os19" class="btn basic-seat-btn seat-btn Os19 org-btn">Os19</button>
                        <button id="Os20" class="btn basic-seat-btn seat-btn Os20 org-btn">Os20</button>
                    </article>
                    <article class="seat-special invisible">
                        <button id="SOs1" class="btn special-seat-btn seat-btn SOs1 org-btn">Os1</button>
                        <button id="SOs2" class="btn special-seat-btn seat-btn SOs2 org-btn">Os2</button>
                        <button id="SOs3" class="btn special-seat-btn seat-btn SOs3 org-btn">Os3</button>
                        <button id="SOs4" class="btn special-seat-btn seat-btn SOs4 org-btn">Os4</button>
                        <button id="SOs5" class="btn special-seat-btn seat-btn SOs5 org-btn">Os5</button>
                        <button id="SOs6" class="btn special-seat-btn seat-btn SOs6 org-btn">Os6</button>
                        <button id="SOs7" class="btn special-seat-btn seat-btn SOs7 org-btn">Os7</button>
                        <button id="SOs8" class="btn special-seat-btn seat-btn SOs8 org-btn">Os8</button>
                        <button id="SOs9" class="btn special-seat-btn seat-btn SOs9 org-btn">Os9</button>
                        <button id="SOs10" class="btn special-seat-btn seat-btn SOs10 org-btn">Os10</button>
                        <button id="SOs11" class="btn special-seat-btn seat-btn SOs11 org-btn">Os11</button>
                        <button id="SOs12" class="btn special-seat-btn seat-btn SOs12 org-btn">Os12</button>
                        <button id="SOs13" class="btn special-seat-btn seat-btn SOs13 org-btn">Os13</button>
                        <button id="SOs14" class="btn special-seat-btn seat-btn SOs14 org-btn">Os14</button>
                        <button id="SOs15" class="btn special-seat-btn seat-btn SOs15 org-btn">Os15</button>
                        <button id="SOs16" class="btn special-seat-btn seat-btn SOs16 org-btn">Os16</button>
                        <button id="SOs17" class="btn special-seat-btn seat-btn SOs17 org-btn">Os17</button>
                        <button id="SOs18" class="btn special-seat-btn seat-btn SOs18 org-btn">Os18</button>
                        <button id="SOs19" class="btn special-seat-btn seat-btn SOs19 org-btn">Os19</button>
                        <button id="SOs20" class="btn special-seat-btn seat-btn SOs20 org-btn">Os20</button>
                    </article>
                    <article class="locker-management-content invisible">
                        <div>
                            <div class="AL">
                                <button id="AL01" class="btn locker-btn AL01 seat-btn org-btn">AL01</button>
                                <button id="AL02" class="btn locker-btn AL02 seat-btn org-btn">AL02</button>
                                <button id="AL03" class="btn locker-btn AL03 seat-btn org-btn">AL03</button>
                                <button id="AL04" class="btn locker-btn AL04 seat-btn org-btn">AL04</button>
                                <button id="AL05" class="btn locker-btn AL05 seat-btn org-btn">AL05</button>
                                <button id="AL06" class="btn locker-btn AL06 seat-btn org-btn">AL06</button>
                                <button id="AL07" class="btn locker-btn AL07 seat-btn org-btn">AL07</button>
                                <button id="AL08" class="btn locker-btn AL08 seat-btn org-btn">AL08</button>
                                <button id="AL09" class="btn locker-btn AL09 seat-btn org-btn">AL09</button>
                                <button id="AL10" class="btn locker-btn AL10 seat-btn org-btn">AL10</button>
                                <button id="AL11" class="btn locker-btn AL11 seat-btn org-btn">AL11</button>
                                <button id="AL12" class="btn locker-btn AL12 seat-btn org-btn">AL12</button>
                            </div>
                            <div class="BL">
                                <button id="BL01" class="btn locker-btn BL01 seat-btn org-btn">BL01</button>
                                <button id="BL02" class="btn locker-btn BL02 seat-btn org-btn">BL02</button>
                                <button id="BL03" class="btn locker-btn BL03 seat-btn org-btn">BL03</button>
                                <button id="BL04" class="btn locker-btn BL04 seat-btn org-btn">BL04</button>
                                <button id="BL05" class="btn locker-btn BL05 seat-btn org-btn">BL05</button>
                                <button id="BL06" class="btn locker-btn BL06 seat-btn org-btn">BL06</button>
                                <button id="BL07" class="btn locker-btn BL07 seat-btn org-btn">BL07</button>
                                <button id="BL08" class="btn locker-btn BL08 seat-btn org-btn">BL08</button>
                                <button id="BL09" class="btn locker-btn BL09 seat-btn org-btn">BL09</button>
                                <button id="BL10" class="btn locker-btn BL10 seat-btn org-btn">BL10</button>
                                <button id="BL11" class="btn locker-btn BL11 seat-btn org-btn">BL11</button>
                                <button id="BL12" class="btn locker-btn BL12 seat-btn org-btn">BL12</button>
                            </div>
                            <div class="CL">
                                <button id="CL01" class="btn locker-btn CL01 seat-btn org-btn">CL01</button>
                                <button id="CL02" class="btn locker-btn CL02 seat-btn org-btn">CL02</button>
                                <button id="CL03" class="btn locker-btn CL03 seat-btn org-btn">CL03</button>
                                <button id="CL04" class="btn locker-btn CL04 seat-btn org-btn">CL04</button>
                                <button id="CL05" class="btn locker-btn CL05 seat-btn org-btn">CL05</button>
                                <button id="CL06" class="btn locker-btn CL06 seat-btn org-btn">CL06</button>
                                <button id="CL07" class="btn locker-btn CL07 seat-btn org-btn">CL07</button>
                            </div>
                        </div>
                    </article>
                </section>
                <!-- footer -->
            </div>
            <div class="btn-all">
                <button class="btn sky-btn move-btn">자리이동</button>
                <button class="btn gray-btn repair-btn">유지보수</button>
                <button class="btn org-btn exit-btn">강제퇴장</button>
            </div>
            <!-- popup -->
            <div class="popup-back invisible">
                <div class="popup">
                    <span>변경할 대상</span>
                    <select name="bdiv" id="ctg" class="sel_cate">
                        <option value="nomal">일반석</option>
                        <option value="special">지정석</option>
                        <option value="locker">사물함</option>
                    </select>
                    <span>변경할 좌석</span>
                    <select name="sdiv" id="ctg_nm" class="sel_list">
                        <option value="">소분류</option>
                    </select>
                    <span>이동할 좌석</span>
                    <select name="cdiv" id="ctg_nm2" class="sel_list2">
                        <option value="">소소분류</option>
                    </select>

                    <div class="popup-btns">
                        <span class="user-show">사용자 : 홍길동</span>
                        <button class="btn gray-btn popup-register-btn">변경</button>
                        <button class="btn org-btn close-btn">닫기</button>
                    </div>
                </div>
            </div>

        </section>
        <!-- footer -->
        <footer class="admin-footer">
            <div class="main-category">
                <button class="btn black-btn product-inquiry">상 품<br>관 리</button>
                <button class="btn black-btn product-inquiry">회 원<br>관 리</button>
                <button class="btn black-btn product-inquiry">좌 석<br>관 리</button>
                <button class="btn black-btn product-inquiry">매 출<br>조 회</button>
            </div>
        </footer>
    </main>
    <script src="/static/js/admin/admin.js"></script>
    <script src="/static/js/admin/seatlist.js"></script>
</body>

</html>