<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" href="/static/css/admin/admin.css">
<link rel="stylesheet" href="/static/css/admin/userlist.css">
<title>G-OSK 프로젝트</title>

<body>
    <main class="container">
        <div class="popup-back invisible">
            <div class="popup">
                <p>수정 전 정보</p>
                <input class="before-input" type="text" value="수정 전 회원 번호" readonly>
                <!-- <input class="before-input" type="text" value="수정 전 회원 비번" readonly> -->
                <p>수정 할 정보</p>
                <input class="after-input" type="text" placeholder="수정 할 회원 번호" onfocus="this.placeholder=''"
                    onblur="this.placeholder='수정 할 회원 번호'">
                <input class="after-input" type="text" placeholder="수정 할 회원 비번" onfocus="this.placeholder=''"
                    onblur="this.placeholder='수정 할 회원 비번'">

                <div class="popup-btns">
                    <button class="btn gray-btn popup-update-btn">수정</button>
                    <button class="btn org-btn popup-close-btn">닫기</button>
                </div>
            </div>
        </div>
        <div class="info-popup-back invisible">
            <div class="info-popup">
                <div class="info-div">
                    <div>
                        <p>전화번호 : 010-0000-0000</p>
                        <p>사용중인 좌석 : </p>
                        <p>사용중인 상품 : </p>
                    </div>

                </div>
                <table class="user-info-th-table">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="50%">
                    </colgroup>
                    <tr>
                        <th>상품</th>
                        <th>가격</th>
                        <th>구매날짜</th>
                    </tr>
                </table>
                <div class="table-container">
                    <table class="user-info-table">
                        <colgroup>
                            <col width="25%">
                            <col width="25%">
                            <col width="50%">
                        </colgroup>
                        <!-- <tr>
                            <td>지정석
                                <br>
                                1주
                            </td>
                            <td>92902원</td>
                            <td>2023-01-01</td>
                        </tr>
                        <tr>
                            <td>지정석
                                <br>
                                1주
                            </td>
                            <td>92902원</td>
                            <td>2023-01-01</td>
                        </tr> -->
                    </table>
                </div>


                <div class="popup-btns">
                    <button class="btn org-btn popup-close-btn info-close-btn" style="width: 100%;">닫기</button>
                </div>
            </div>
        </div>
        <!-- header -->
        <header class="admin-header">
            <p class="go-index-btn">G-OSK</p>
            <div class="header-bot">
                <ul>
                    <li>그레이즈 스터디카페</li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <span>운영시간: 10:00 - 20:00</span>
                    </li>
                </ul>
            </div>
        </header>
        <!-- section -->
        <section class="admin-container">
            <table class="th-table">
                <colgroup>
                    <col width="">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup>
                <tr>
                    <th>전화번호</th>
                    <th>개인정보</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
            </table>
            <div class="table-container">
                <table class="user-table">
                    <colgroup>
                        <col width="">
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                    </colgroup>
                    <!-- update-btn, dlt-btn css는 admin.css에 있음 -->
                    <!-- <tr>
                        <td>010-1234-5678</td>
                        <td><button class="btn user-info-btn">정보</button></td>
                        <td><button class="btn update-btn">수정</button></td>
                        <td><button class="btn dlt-btn">삭제</button></td>
                    </tr> -->
                </table>
            </div>
        </section>
        <!-- footer -->
        <footer class="admin-footer">
            <div class="main-category">
                <button class="btn black-btn product-inquiry">상 품<br>관 리</button>
                <button class="btn black-btn product-inquiry">회 원<br>관 리</button>
                <button class="btn black-btn product-inquiry">좌 석<br>관 리</button>
                <button class="btn black-btn product-inquiry">매 출<br>조 회</button>
            </div>
        </footer>
    </main>
    <script src="/static/js/admin/userlist.js"></script>
    <script src="/static/js/admin/admin.js"></script>
</body>

</html>