.sales-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

#seat-category {
    width: 200px;
    height: 80px;
    font-size: 38px;
}

#history_start_date,
#history_end_date {
    height: 100px;
    width: 230px;
    font-size: 38px;
    margin: 0px 10px;
}

.sales-category>img {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}

.sales-th-table {
    margin: 30px 0;
}

.total-price {
    float: right;
    color: #fb6624;
    font-size: 50px;
    font-weight: 700;
    margin-top: 30px;
}

.total-price b {
    font-weight: 900;
}