<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/reset.css">

<link rel="stylesheet" href="/static/css/locker_check.css">
<title>G-OSK 프로젝트</title>

<body>
    <main class="container">
        <!-- header -->
        <header class="locker-management-header">
            <i class="fa-solid fa-briefcase"></i>
            <p>사물함선택</p>
            <div>원하시는 사물함 선택해 주세요.</div>

            <div class="circle">
                <span class="onbtn">
                    <i class="fa-solid fa-circle"></i>
                    이용중&nbsp&nbsp&nbsp
                </span>
                <span class="offbtn">
                    <i class="fa-solid fa-circle"></i>
                    이용가능
                </span>
            </div>

        </header>
        <!-- section -->
        <section class="locker-management-content">
            <div>
                <div class="AL">
                    <button class="btn org-btn">AL01</button>
                    <button class="btn">AL02</button>
                    <button class="btn">AL03</button>
                    <button class="btn">AL04</button>
                    <button class="btn">AL05</button>
                    <button class="btn">AL06</button>
                    <button class="btn">AL07</button>
                    <button class="btn">AL08</button>
                    <button class="btn">AL09</button>
                    <button class="btn">AL10</button>
                    <button class="btn">AL11</button>
                    <button class="btn">AL12</button>
                </div>
                <div class="BL">
                    <button class="btn">BL01</button>
                    <button class="btn">BL02</button>
                    <button class="btn">BL03</button>
                    <button class="btn">BL04</button>
                    <button class="btn">BL05</button>
                    <button class="btn">BL06</button>
                    <button class="btn">BL07</button>
                    <button class="btn">BL08</button>
                    <button class="btn">BL09</button>
                    <button class="btn">BL10</button>
                    <button class="btn">BL11</button>
                    <button class="btn">BL12</button>
                </div>
                <div class="CL">
                    <button class="btn">CL01</button>
                    <button class="btn">CL02</button>
                    <button class="btn">CL03</button>
                    <button class="btn">CL04</button>
                    <button class="btn">CL05</button>
                    <button class="btn">CL06</button>
                    <button class="btn">CL07</button>
                </div><div class="AL">
                    <button id="AL01" class="btn locker-btn AL01 seat-btn org-btn">AL01</button>
                    <button id="AL02" class="btn locker-btn AL02 seat-btn org-btn">AL02</button>
                    <button id="AL03" class="btn locker-btn AL03 seat-btn org-btn">AL03</button>
                    <button id="AL04" class="btn locker-btn AL04 seat-btn org-btn">AL04</button>
                    <button id="AL05" class="btn locker-btn AL05 seat-btn org-btn">AL05</button>
                    <button id="AL06" class="btn locker-btn AL06 seat-btn org-btn">AL06</button>
                    <button id="AL07" class="btn locker-btn AL07 seat-btn org-btn">AL07</button>
                    <button id="AL08" class="btn locker-btn AL08 seat-btn org-btn">AL08</button>
                    <button id="AL09" class="btn locker-btn AL09 seat-btn org-btn">AL09</button>
                    <button id="AL10" class="btn locker-btn AL10 seat-btn org-btn">AL10</button>
                    <button id="AL11" class="btn locker-btn AL11 seat-btn org-btn">AL11</button>
                    <button id="AL12" class="btn locker-btn AL12 seat-btn org-btn">AL12</button>
                </div>
                <div class="BL">
                    <button id="BL01" class="btn locker-btn BL01 seat-btn org-btn">BL01</button>
                    <button id="BL02" class="btn locker-btn BL02 seat-btn org-btn">BL02</button>
                    <button id="BL03" class="btn locker-btn BL03 seat-btn org-btn">BL03</button>
                    <button id="BL04" class="btn locker-btn BL04 seat-btn org-btn">BL04</button>
                    <button id="BL05" class="btn locker-btn BL05 seat-btn org-btn">BL05</button>
                    <button id="BL06" class="btn locker-btn BL06 seat-btn org-btn">BL06</button>
                    <button id="BL07" class="btn locker-btn BL07 seat-btn org-btn">BL07</button>
                    <button id="BL08" class="btn locker-btn BL08 seat-btn org-btn">BL08</button>
                    <button id="BL09" class="btn locker-btn BL09 seat-btn org-btn">BL09</button>
                    <button id="BL10" class="btn locker-btn BL10 seat-btn org-btn">BL10</button>
                    <button id="BL11" class="btn locker-btn BL11 seat-btn org-btn">BL11</button>
                    <button id="BL12" class="btn locker-btn BL12 seat-btn org-btn">BL12</button>
                </div>
                <div class="CL">
                    <button id="CL01" class="btn locker-btn CL01 seat-btn org-btn">CL01</button>
                    <button id="CL02" class="btn locker-btn CL02 seat-btn org-btn">CL02</button>
                    <button id="CL03" class="btn locker-btn CL03 seat-btn org-btn">CL03</button>
                    <button id="CL04" class="btn locker-btn CL04 seat-btn org-btn">CL04</button>
                    <button id="CL05" class="btn locker-btn CL05 seat-btn org-btn">CL05</button>
                    <button id="CL06" class="btn locker-btn CL06 seat-btn org-btn">CL06</button>
                    <button id="CL07" class="btn locker-btn CL07 seat-btn org-btn">CL07</button>
                </div>
            </div>
        </section>
        <!-- footer -->
        <footer class="locker-management-footer">
            <div>
                <span>선택한 사물함&nbsp&nbsp</span>
                <input type="input" class="locker-select-name" disabled>
            </div>

            <br><br>

            <div>
                <button class="home-btn btn gray-btn logout-btn">
                    <i class="fa-solid fa-xmark"></i>
                    홈으로
                </button>
                <button class="next next-btn btn org-btn">
                    <i class="fa-solid fa-check"></i>
                    다음단계
                </button>
            </div>

        </footer>
    </main>
    <script src="/static/js/locker_check.js"></script>

</body>