<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/reset.css">

<link rel="stylesheet" href="/static/css/locker_management.css">
<title>G-OSK 프로젝트</title>
<body>
    <main class="container">
<!-- header -->
        <header class="locker-management-header">
            <i class="fa-solid fa-briefcase"></i>
            <p>사물함선택</p>
            <div>원하시는 사물함 선택해 주세요.</div>
            
            <div class="circle">
                <span class = "onbtn">
                    <i class="fa-solid fa-circle"></i>
                    이용중&nbsp&nbsp&nbsp
                </span>
                <span class = "offbtn">
                    <i class="fa-solid fa-circle"></i>
                    이용가능
                </span>
            </div>

        </header>
<!-- section -->
        <section class="locker-management-content">
            <div>
                <div class ="AL">
                    <button class = "AL01">AL01</button>
                    <button class = "AL02">AL02</button>
                    <button class = "AL03">AL03</button>
                    <button class = "AL04">AL04</button>
                    <button class = "AL05">AL05</button>
                    <button class = "AL06">AL06</button>
                    <button class = "AL07">AL07</button>
                    <button class = "AL08">AL08</button>
                    <button class = "AL09">AL09</button>
                    <button class = "AL10">AL10</button>
                    <button class = "AL11">AL11</button>
                    <button class = "AL12">AL12</button>
                </div>
                <div class ="BL">
                    <button class = "BL01">BL01</button>
                    <button class = "BL02">BL02</button>
                    <button class = "BL03">BL03</button>
                    <button class = "BL04">BL04</button>
                    <button class = "BL05">BL05</button>
                    <button class = "BL06">BL06</button>
                    <button class = "BL07">BL07</button>
                    <button class = "BL08">BL08</button>
                    <button class = "BL09">BL09</button>
                    <button class = "BL10">BL10</button>
                    <button class = "BL11">BL11</button>
                    <button class = "BL12">BL12</button>
                </div>
                <div class ="CL">
                    <button class = "CL01">CL01</button>
                    <button class = "CL02">CL02</button>
                    <button class = "CL03">CL03</button>
                    <button class = "CL04">CL04</button>
                    <button class = "CL05">CL05</button>
                    <button class = "CL06">CL06</button>
                    <button class = "CL07">CL07</button>
                </div>
            </div>
        </section>
<!-- footer -->
        <footer class="locker-management-footer">
            <div>
                <span>선택한 사물함&nbsp&nbsp</span>
                <input type = "input" class = "locker-select-name"></span>
            </div>

            <br><br>

            <div>
                <button class="btn gray-btn">
                    <i class="fa-solid fa-xmark"></i>
                    홈으로
                </button>
                <button class="btn org-btn">
                    <i class="fa-solid fa-check"></i>
                    다음단계
                </button>
            </div>

        </footer>
    </main>
    <script src="/static/js/locker-management.js"></script>
</body>
</html>